#.config/Slack/
#.config/discord/
#.config/Code/
#.config/obs-studio/
#.config/spotify/
#.config/ModTheSpire/
#.config/keepassxc/
#.config/autostart/
#.config/libreoffice/
#.config/ncspot/
#.config/nextjs-nodejs/
#.config/ownCloud/
#.config/GIMP/
#.config/hexchat/
#.config/discord/
#.config/sticky
#.config/QtProject.conf
#.config/mimeapps.list
#.config/user-dirs.dirs
#.config/user-dirs.locale
#.config/dconf/
#.config/Thunar
#.config/caja/
#.config/compiz-1/
#.config/enchant/
#.config/evolution/
#.config/pulse/
.config/*
!/.config/nvim/
!/.config/Debauchee/
!/.config/neofetch/
